<section id="home">
    <div class="card summary">
        <div class="card-header">
            <div class="spacer"></div>
            
        </div>

    </div>

    <div class="card add">
        <%= render 'foods/form'%>
    </div>

    <div class="spacer"></div>

    <div class="list">
        <% if no_food?(@foods) %>
                <p class="text-centered">No Food Logged</p>
                <%= image_tag 'hungry.gif', :id => 'hungry' %>
                <p class="text-centered">Go eat something!</p>
        <% else %>
            <table>
                <tr>
                    <th></th>
                    <th>Cal</th>
                    <th>Protein</th>
                    <th>Carb</th>
                    <th>Fats</th>
                </tr>   
                <tr class="spacer"></tr>
            <% @foods.each do |food| %>
                <tr class="card">
                    <td><%= food.name %></td>
                    <td><%= food.cal %> cal</td>
                    <td><%= food.protein %> g</td>
                    <td><%= food.carbohydrates %> g</td>
                    <td><%= food.fat %> g</td>
                    <td class="delete-btn"><%= button_to "Delete", food_path(id: food.id), method: :delete %></td>
                </tr>
                <tr class="spacer"></tr>
            <% end %>
        <% end %>
    </div>
</section>