<section id="home">
    <div class="card summary">
        <div class="card-header">
            <span>Protein <%= total_protein(@foods) %> g</span>
            <span>Carbohydrates <%= total_carbohydrates(@foods) %> g</span>
            <span>Fats <%= total_fat(@foods) %> g</span>
        </div>
        <div class="spacer"></div>
        <div class="card-body">
            <span>Calories <%= total_calories(@foods) %> cal</span>
            <span>Calories Left <%= calories_left(@foods, 2400) %> cal</span>
        </div>
    </div>

    <div class="card add">
        <div class="card-header">
        </div>
        <div class="spacer"></div>
        <%= render 'foods/form'%>
    </div>

    <div class="spacer"></div>

    <div class="list">
        <% if no_food?(@foods) %>
            <p class="text-centered">No Food Logged</p>
            <%= image_tag 'hungry.gif', :id => 'hungry' %>
            <p class="text-centered">Go eat something!</p>
        <% else %>
            <table>
                <tr>
                    <th></th>
                    <th style="width: 90px">Cal</th>
                    <th style="width: 90px">Protein</th>
                    <th style="width: 90px">Carb</th>
                    <th style="width: 90px">Fats</th>
                    <th></th>
                </tr>   
                <tr class="spacer"></tr>
            <% @foods.each do |food| %>
                <tr class="food-chip">
                    <td><%= titleize(food.name) %></td>
                    <td><%= food.cal %> cal</td>
                    <td><%= food.protein %> g</td>
                    <td><%= food.carbohydrates %> g</td>
                    <td><%= food.fat %> g</td>
                    <td class="delete"><%= button_to "✕", food_path(id: food.id), method: :delete, class: 'btn-circle' %></td>
                </tr>
                <tr class="spacer"></tr>
            <% end %>
            </table>
        <% end %>
    </div>
</section>
