<div class="icon"></div>
<h2>SIGN IN</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: 'POST', :html=>{:class=> "sign-in"}) do |f| %>
  
  <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  <br />

  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <label class="switch">
      <%= f.check_box :remember_me %>
      <span class="slider"></span>
      <span class="label">Remember me</span>
    </label>
  <% end -%>

  <%= f.submit "Sign in", :method => :POST %>

<% end %>
