<%= form_for :food, url: {action: 'create', controller: 'foods'}, :html=>{:class=> "food"} do |form| %>

  <div class="row">
    <div class="input">
      <%= form.text_field :name, placeholder: 'Name', autocomplete: 'off' %>
    </div>
    <div class="input">
      <%= form.text_field :cal, min: '0', placeholder: 'Calories' %>
    </div>
  </div>

  <div class="row">
    <div class="input">
      <%= form.text_field :protein, placeholder: 'Protein' %>
    </div>

    <div class="input">
      <%= form.text_field :carbohydrates, placeholder: 'Carbs' %>
    </div>

    <div class="input">
      <%= form.text_field :fat, placeholder: 'Fats'  %>
    </div>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.submit :+, id: 'add-btn', class: 'btn-circle' %> 
  
<% end %>
