<%= form_for [current_user, @goal], method: :patch, :html=>{:class=> "goal"} do |form| %>

  <div class="input">
    <h4>Calories</h4>
    <%= form.number_field :cal, min: '0', placeholder: 'Calories' %>
  </div>

  <div class="input">
    <h4>Protein</h4>
    <%= form.number_field :protein, min: '0', max: '999', placeholder: 'Protein' %>
  </div>

  <div class="input">
    <h4>Carbs</h4>
    <%= form.number_field :carbohydrates, min: '0', max: '999', placeholder: 'Carbs' %>
  </div>

  <div class="input">
    <h4>Fats</h4>
    <%= form.number_field :fat, min: '0', max: '999', placeholder: 'Fats' %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.submit 'Update Goal', id: 'save-btn' %> 
  
<% end %>
