<!DOCTYPE html>
<html>
  <head>
    <title>NutritionTracker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'shared', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <% if user_signed_in? %>
    <%= render "shared/footer" %>
    <%= render "shared/modal" %> <%# try out render partial here%>
  <% end %>
</html>
